# Ignore virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# MacOS files
.DS_Store

# weights / checkpoints car ils sont trop lourd pour pouvoir les push sur le repo
weights_*/
**/weights_*/
*.pth
*.pt
*.ckpt

